* {
  padding: 0;
  margin: 0;
  color: #333;
  font-family: "Roboto";
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background: #f4f4f4;
}

h1 {
  text-align: center;
  margin: 1.5rem 0;
  font-size: 2.2rem;
}

#canvas {
  background: url("images/background/bkgd.jpg");
  background-position: center 32rem;
  background-size: 75rem;
  border: 1px solid #333;
  display: block;
  margin: 0 auto;
}

img {
  width: 50rem;
  display: block;
  margin: 0 auto;
}

/*  */
